.combo-box {
    -fx-focus-color: transparent;
    -fx-background-insets: -1, -1, -1, -1;
}

.combo-box .list-cell {
    -fx-font-size: 23pt;
    -fx-font-family: AvQest;
    -fx-text-fill: #cac0ff;
}

.combo-box-base .arrow-button {
    -fx-background-color: transparent;
}

.combo-box-base .arrow {
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
    -fx-background-color: #30c9ba;
}

.combo-box-popup .list-view {
    -fx-effect: null;
}

.combo-box {
    -fx-background-color: #424470;
    -fx-border-radius: 10 10 5 5;
    -fx-background-radius: 10 10 5 5;
}

.combo-box-popup .list-view {
    -fx-background-color: #424470;
    -fx-font-size: 22pt;
    -fx-font-family: AvQest;
    -fx-text-fill: #cac0ff;
}

.combo-box-popup .list-view .list-cell:filled {
    -fx-background-color: #383c65;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #565996;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #6f70ff;
}

.combo-box:hover{
    -fx-cursor: hand;
    -fx-background-color: #4e5084;
}

.combo-box.text-field{
    -fx-font-size: 17pt;
    -fx-font-family: AvQest;
    -fx-prompt-text-fill: #cac0ff;
}

.pane {
    -fx-background-color: #424470;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: BLACK;
}