.sidebarItem:hover{
    -fx-cursor: hand;
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}

.bossTableTop {
    -fx-background-color: #282940;
    -fx-border-radius: 15 15 0 0;
    -fx-background-radius: 15 15 0 0;
}

.bossTableMiddle {
    -fx-background-color: #282940;
}

.bossTableBottom {
    -fx-background-color: #282940;
    -fx-border-radius: 0 0 15 15;
    -fx-background-radius: 0 0 15 15;
}

.FontAwesomeIcon:hover{
    -fx-cursor: hand;
}

.shortCuts{
    -fx-background-color: #424470;
    -fx-background-radius: 10 10 10 10;
}

.shortCuts:hover{
    -fx-cursor: hand;
    -fx-background-color: #565996;
}